.happiness-pie-container {
  display: flex;
  justify-content: center;
  text-align: center;
  canvas {
    border-radius: 50%;
    box-shadow: bottom-shadow(3), top-shadow(3);
  }
  .pie-legend {
    text-align: initial;
  }
}
